<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>《圣杯之魂》手游官网 - 魔幻3D战斗卡牌手游</title>
    <meta name="keywords" content="圣杯之魂,圣杯之魂手游,圣杯之魂,圣杯之魂手游,圣杯之魂下载,圣杯之魂安卓下载,圣杯之魂官网,圣杯之魂手游iOS下载,圣杯之魂安卓版" />
    <meta name="description" content="《圣杯之魂》是由游族网络代理发行的3D战斗卡牌手游，游戏以次时代精致画面、独特玩法、热血战斗、强大的组合技和丰富的世界观与你见面！" />
    <link rel="canonical" href="//shengbei.youzu.com/" />
    <link href="//shengbei.youzu.com/shengbei/guanwang_yd/css/main.css?v=20181102" rel="stylesheet" type="text/css">

</head>


<body data_game_type="mob" data_game_id="350">
    <section id="loading"></section>
    <div class="container" id="container">
        <!-- header start -->
        <header class="headerBox">
            <dl class="logo">
                <dt>
                    <h1><a href="#"><img src="<%= rsData.data.logo[0].thumb[1]%>" alt=""></a></h1>
                </dt>
                <dd>
                    <h2><a href="#"><img src="//shengbei.youzu.com/shengbei/guanwang_yd/images/logo-name.png?v=20181102" alt=""></a></h2>
                </dd>
            </dl>
            <a href="../../../yuyue.html" class="btn-header" data_type="download"></a>
        </header>
        <div class="pageBox">
            <ul class="nav">
                <li class="active"><a href="#">首页</a><i class="cur"></i></li>
                <li><a href="/m/news.html">新闻</a><i class="cur"></i></li>
                <li><a href="/m/listBeginner.html">新手</a><i class="cur"></i></li>
                <li><a href="/m/pic.html">品牌</a><i class="cur"></i></li>
            </ul>
            <div class="kv">
                <div class="slogan">

                </div>
                <a class="btn-xz" data_type="download" href="//act.youzu.com/app_download_act_mod/default/index/shengbei_download"></a>
            </div>
        </div>
        <div class="newsBox">
            <div class="swiper-container wutu">
                <div class="swiper-wrapper">
                    <% for(var i=0; i<wrapData.data.sowing_map_up.length; i++) {%>
                    <div class="swiper-slide">
                        <a href="<%= wrapData.data.sowing_map_up[i].url %>">
                            <img src="<%= wrapData.data.sowing_map_up[i].thumb[0]%>">
                        </a>
                    </div>
                    <% } %>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="tabs">
                <a href="/m/pic.html" class="active">最新</a>
                <a href="#" class="">新闻</a>
                <a href="#" class="">公告</a>
                <a href="#" class="">活动</a>
                <a href="#" class="">媒体</a>
            </div>
            <div id="tabs-container" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <ul class="news-list">
                                <% for (var i=0; i<rsData.data.newsList.newNews.newsList.length; i++) { %>
                                <li><a href="/m/<%= rsData.data.newsList.newNews.newsList[i].url.slice(26) %>">
                                        <span>[<%= rsData.data.newsList.newNews.newsList[i].tags %>]</span>
                                        <%= rsData.data.newsList.newNews.newsList[i].name %></a>
                                    <time>
                                        <%= rsData.data.newsList.newNews.newsList[i].pub_time %></time>
                                </li>
                                <% } %>
                            </ul>
                            <a class="btn-more" href="/m/news.html"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <ul class="news-list">
                                <% for (var i=0; i<rsData.data.newsList.news.newsList.length; i++) { %>
                                <li><a href="/m/<%= rsData.data.newsList.news.newsList[i].url.slice(26) %>">
                                        <span>[<%= rsData.data.newsList.news.newsList[i].tags %>]</span>
                                        <%= rsData.data.newsList.news.newsList[i].name %></a>
                                    <time>
                                        <%= rsData.data.newsList.news.newsList[i].pub_time %></time>
                                </li>
                                <% } %>
                            </ul>
                            <a class="btn-more" href="/m/news.html"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <ul class="news-list">
                                <% for (var i=0; i<rsData.data.newsList.notice.newsList.length; i++) { %>
                                <li><a href="/m/<%= rsData.data.newsList.notice.newsList[i].url.slice(26) %>">
                                        <span>[<%= rsData.data.newsList.notice.newsList[i].tags %>]</span><%= rsData.data.newsList.notice.newsList[i].name %></a>
                                    <time><%= rsData.data.newsList.notice.newsList[i].pub_time %></time>
                                </li>
                                <% } %>
                            </ul>
                            <a class="btn-more" href="/m/news.html"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <ul class="news-list">
                                    <% for (var i=0; i<rsData.data.newsList.active.newsList.length; i++) { %>
                                <li><a href="/m/<%= rsData.data.newsList.active.newsList[i].url.slice(26) %>">
                                        <span>[<%= rsData.data.newsList.active.newsList[i].tags %>]</span><%= rsData.data.newsList.active.newsList[i].name %></a>
                                    <time><%= rsData.data.newsList.active.newsList[i].pub_time %></time>
                                </li>
                                <% } %>
                            </ul>
                            <a class="btn-more" href="/m/news.html"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                            <div class="content-slide">
                                <ul class="news-list">
                                        <% for (var i=0; i<rsData.data.newsList.media.newsList.length; i++) { %>
                                    <li><a href="/m/<%= rsData.data.newsList.media.newsList[i].url.slice(26) %>">
                                            <span>[<%= rsData.data.newsList.media.newsList[i].tags %>]</span><%= rsData.data.newsList.media.newsList[i].name %></a>
                                        <time><%= rsData.data.newsList.media.newsList[i].pub_time %></time>
                                    </li>
                                    <% } %>
                                </ul>
                                <a class="btn-more" href="/m/news.html"></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="movieBox">
            <div class="topImg">
                <div id="topImg-container" class="swiper-container">
                    <div class="swiper-wrapper">
                        <% for(var i=0; i<wrapData.data.sowing_map_down.length; i++) {%>
                        <div class="swiper-slide">
                            <a href="<%= wrapData.data.sowing_map_down[i].url %>">
                                <img src="<%= wrapData.data.sowing_map_down[i].thumb[0]%>">
                            </a>
                        </div>
                        <% } %>
                    </div>
                    <div class="swiper-pagination2"></div>
                </div>

            </div>
            <div class="tabs">
                <a href="#" class="active">图赏</a>
                <a href="#" class="">视频</a>
            </div>
            <div id="movie-container" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <div class="movieGroup">
                                <% for (var i=0; i< 2; i++) { %>
                                <div class="m<%= i+1 %>" data-fancybox="gallery" href="<%= mediaData.data.game_pic.data[i].content %>">
                                    <img src="<%= mediaData.data.game_pic.data[i].content %>" alt="">
                                </div>
                                <% } %>
                            </div>
                            <a class="btn-more" href="/m/pic.html"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-slide">
                            <div class="movieGroup">
                                <% for (var i=0; i<mediaData.data.game_video.length; i++) { %>
                                <div class="m1 videoItem" data-src="<%= mediaData.data.game_video[i].ad_addition[0].content %>">
                                    <div class="ico-play"></div>
                                    <img src="<%= mediaData.data.game_video[i].ad_addition[1].content %>" alt="">
                                    <p><%= mediaData.data.game_video[i].title %></p>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <a class="btn-more" href="/m/pic.html"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="playerBox">
            <h2>玩家社区</h2>
            <img src="<%= rsData.data.spreadAddress[0].content %>" class="ewm">
            <h2>客户服务</h2>
            <div class="faq">
                <a href="/m/faq.html" class="c1">FAQ</a>
                <a href="//service.youzu.com/" class="c2">服务热线</a>
            </div>
        </div>
        <section class="popUp_video">
            <a href="javascript:;" class="btn_close"></a>
            <div class="videoBox">
                <video id="videoX" controls="" src="">
                </video>
            </div>
            <div class="coverBg"></div>
        </section>
    </div>

    <!-- 底通开始 -->
    <script charset="utf-8" id="_FOOTER_" backColor="#373737" linkColor="#a4a4a4" mainColor="#5c5c5c" csh="新广出审[2017]7537号" ybz="文网游备字【2017】M-RPG 0761" tagUrl="http://www.youzu.com" src="//pic.youzu.com/common/before_js/footer.yd750.js?v=20190107"></script>
    <!-- 底通结束 --> 

    <script src="//shengbei.youzu.com/shengbei/guanwang_yd/js/jquery-1.7.min.js?v=20181102"></script>
    <script src="//shengbei.youzu.com/shengbei/guanwang_yd/js/swiper.min.js?v=20181102"></script>
    <script src="//shengbei.youzu.com/shengbei/guanwang_yd/js/fancybox.js?v=20181102"></script>
    <script src="//pic.youzu.com/common/auth/youzuWeixin.js"></script>
    <script src="//shengbei.youzu.com/shengbei/guanwang_yd/js/global.js?v=20181102"></script>
    <script>
    // 微信分享
    var wxApp = new youzuWeixin({
        act_url: "", 
        act_id: "", //活动id
        shareTitle: '圣杯之魂', // 分享标题
        shareDesc: '邪魔觉醒，创新3D战斗卡牌手游邀你来战', // 分享描述
        shareLink: "//shengbei.youzu.com/m/", // 分享链接
        shareImgUrl: '//shengbei.youzu.com/shengbei/guanwang_yd/images/logo_icon.png', // 分享图标
        shareTimeTitle: '', // 时间标题

        shareSuccessCallback: function() {}
    });
    wxApp.share();
    </script>
</body>

</html>