<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta name="format-detection" content="telephone=no" />
        <title>《圣杯之魂》手游预约官网 - 魔幻3D战斗卡牌手游</title>
        <meta name="keywords" content="圣杯之魂预约,圣杯之魂手游预约,圣杯之魂,圣杯之魂手游,圣杯之魂下载,圣杯之魂安卓下载,圣杯之魂官网,圣杯之魂手游iOS下载,圣杯之魂安卓版"/>
        <meta name="description" content="《圣杯之魂》是由游族网络代理发行的3D战斗卡牌手游，游戏以次时代精致画面、独特玩法、热血战斗、强大的组合技和丰富的世界观与你见面！"/>
        <link rel="canonical" href="//shengbei.youzu.com/yuyue.html" />
        <link rel="stylesheet" href="//pic.youzu.com/shengbei/shengbei_yd/css/lib.css?v=20181009" />
        <script>    
            // 跳转
            var LowerCase = navigator.userAgent.toLowerCase();
            function getQueryString(name) { 
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
                var r = window.location.search.substr(1).match(reg); 
                if (r != null) return unescape(r[2]); 
                return null; 
            } 
            var frompath = getQueryString('path'); // 取PATH 后面的值 。
    
    
    
            if(LowerCase.indexOf('windows nt') === -1 && LowerCase.indexOf('macintosh') === -1){
    
            }else{
                window.location.href = '/yuyue.html?path='+frompath;  
            }
        </script>
    </head>
    <body data_game_type="mob" data_game_id="350">
        <div id="container">

            <div class="header">
                <div class="logo wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <a href="//shengbei.youzu.com"><img src="//pic.youzu.com/shengbei/shengbei_yd/imgs/logo.png?v=20181009" alt="" /></a>
                </div>
                <a href="javascript:;" data_loc_id="1040" data_id="1_Download_" data_type="yuyue" event_type="click"  custom="game_id:347" 
                onclick="baidupush('shengbei_yuyue')" class="btn wow fadeIn yuyue_btn" data-wow-duration="1s" data-wow-delay="0s"><img src="//pic.youzu.com/shengbei/shengbei_yd/imgs/yuyue_btn_01.png?v=20181009" alt=""></a>
            </div>

            <div class="banner">
                <div class="slogan wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="pic">
                        <div class="pic"><img src="//pic.youzu.com/shengbei/shengbei_yd/imgs/slogan.png?v=20181009" alt="" /></div>
                    </div>
                </div>
                <!-- 播放视频 -->
                <div class="play-wrapper">
                    <div class="play-quan"></div>
                    <img src="//pic.youzu.com/shengbei/shengbei_yd/imgs/play_btn_02.png?v=20181009" alt="" />
                </div>
                <!-- 下载 -->
                <div class="order wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <a href="" id="btn_down" data_loc_id="1040" data_id="1_Download_" data_type="download" event_type="click"  custom="game_id:347"
                    onclick="baidupush('shengbei_down')"  class="btn-order js_order_master" style="z-index:9999"><img src="//pic.youzu.com/shengbei/shengbei_yd/imgs/down_btn.png?v=20181009" style="width:4.16rem;max-width:4.16rem;margin:auto;" alt="" /></a>
                </div>

                <div class="m-star3">
                    <img src="//pic.youzu.com/shengbei/shengbei_yd/imgs/suipian.png?v=20181009" alt="" />
                </div>
                <!-- 白色背景 END-->
            </div>

            <div class="m-qj1">
                <div class="tit wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"><img src="//pic.youzu.com/shengbei/shengbei_yd/imgs/title.png?v=20181009" alt="" /></div>
                <div class="role-swiper">
                    <div class="swiper-wrapper">
                    </div>
                    
                </div>
                <div class="swiper-pagination"></div>
                <div class="prev"></div>
                <div class="next"></div>
            </div>

            <div class="m-overlay"></div>
            <!-- 弹窗 视频 -->
            <div class="pop-video">
                <a href="javascript:void(0);" class="g-close js_pop_close"></a>
                <div class="video">
                    <video id="video-wrapper" src="//pic.youzu.com/shengbei/shengbei_yd/video/video.mp4?v=20181009" width="100%" height="100%" controls></video>
                </div>
            </div>
            <!-- 弹窗 视频 end -->
            <!-- 弹窗 预约 -->
            <div class="pop-order">
                <a href="javascript:void(0);" class="g-close js_pop_close"></a>
                <h2>预约即可获得公测好礼</h2>
                <ul class="ul-order TAB_CLICK fix" id=".order-con">
                    <li class="on"><a href="javascript:;">iOS预约</a></li>
                    <li><a href="javascript:;">安卓预约</a></li>
                </ul>
                <div class="order-con">
                    <form>
                        <div class="form-order">
                            <ul>
                                <li>
                                    <input type="tel" placeholder="请输入手机号码" class="inp1" id="iosPhone">
                                </li>
                                <li>
                                    <input type="text" placeholder="输入验证码" class="inp2" id="iosCode">
                                    <input type="button" value="发送验证码" class="inp3"  id="iosGetCode">
                                </li>
                            </ul>
                            <div  class="btn" id="submitIos">立即预约</div>
                        </div>
                    </form>
                </div>
                <div class="order-con">
                    <form>
                        <div class="form-order">
                            <ul>
                                <li>
                                    <input type="tel" placeholder="请输入手机号码" class="inp1" id="andPhone">
                                </li>
                                <li>
                                    <input type="text" placeholder="输入验证码" class="inp2" id="andCode">
                                    <input type="button" value="发送验证码" class="inp3" id="andGetCode">
                                </li>
                            </ul> 
                            <div class="btn" id="submitAnd">立即预约</div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 弹窗 预约 end -->
            <!--微信下载提示 弹窗-->
            <div class="pop-weixin" >
                <a href="javascript:void(0);" class="g-close js_pop_close" style="top:-0.42rem;right:-.4rem"></a>
                <!--微信下载提示    -->
                <div class="p_tips_zu p_weixintizi">
                    <p  > 请点击屏幕右上角“···”，选择在浏览器中打开，<br>
            即可下载游戏，享受征服之旅！</p>
            </div>
          <!--微信下载提示  end --> 
        </div>
      </div>
      <!--微信下载提示 end --> 
        </div>
        <!--尾部框架-->
        <foot class="FootWrap"> 
            <script charset="utf-8" id="_FOOTER_" backColor="#373737" linkColor="#a4a4a4" mainColor="#5c5c5c" csh="" ybz="" tagUrl="//www.youzu.com" src="//pic.youzu.com/common/before_js/footer.yd750.js?v=20190107"></script>
        </foot>
        <!--尾部框架End--> 

        <section class="hTip"   >敬请切换至竖屏观看！</section>

        <script type="text/javascript" src="//pic.youzu.com/shengbei/shengbei_yd/js/jquery.js?v=20181009"></script>
        <link rel="stylesheet" href="//pic.youzu.com/shengbei/shengbei_yd/css/animate.min.css?v=20181009" />
        <link rel="stylesheet" href="//pic.youzu.com/shengbei/shengbei_yd/css/swiper.min.css?v=20181009">
        <script src="//pic.youzu.com/shengbei/shengbei_yd/js/swiper.min.js?v=20181009"></script>
        <script src="//pic.youzu.com/shengbei/shengbei_yd/js/global.js?v=20181009"></script>
        <script type="text/javascript" src="//pic.youzu.com/shengbei/shengbei_yd/js/wow.min.js?v=20181009"></script>
        <script>
            var wow = new WOW(
                {
                    boxClass: 'wow',  
                    animateClass: 'animated',
                    offset: 0,    
                    mobile: true, 
                    live:  true  
                }
            );
            wow.init();
        </script>
        <!-- 百度打点和平台打点 -->
        <script src="https://pstat.youzu.com/dp/script?0220180718"></script>
        <script>
            //百度统计打点
            var _hmt = _hmt || [];
            (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?f61970e1ce8b3758b866572e28e07fba";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
            })();
        </script>

        <script>
            // 获取url参数的值
            function getQueryString(name) { 
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
                var r = window.location.search.substr(1).match(reg); 
                if (r != null) return unescape(r[2]); 
                return null; 
            } 

            var outpath = getQueryString('path'); // 取PATH 后面的值 。
            //console.log(path); 
            $(".btn_down_game, .btn_yuyue_gift").attr("data_id", function(i,origValue){
                    return origValue + outpath; 
            }); 
            function baidupush(tag){
                _hmt.push(['_trackEvent', 'game', 'download', tag+"_"+ outpath])
            }

        </script>

        <!-- 页面的基础数据 -->
        <script>
            // 页面的基础数据

            //JS判断是否是微信客户端
            function is_weixin() {
                var ua = window.navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                    return true;
                } else { 
                return false;
                }
            }
            
            // 判断手机的类型
            function isIos() {
                var u = navigator.userAgent;
                var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
                var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端 
                if (isiOS) {
                    return true
                } else {

                }
            }

            // 获取video的dom
            var video = $('#video-wrapper');
            var swiperWrapper = $('.swiper-wrapper');
            $.ajax({ 
                url:"//go.youzu.com/go-39/api/page-data",
                type:'GET',
                dataType: "jsonp",
                data: {
                    type:1
                },
                success: function(res) {
                    //console.log("返回获手机验证码数据：", resmsg);
                    if(res.status == 0 || res.status == 200 ){ 
                        // 视频的地址
                        video.attr("src",res.data.video);
                        // 五图的地址
                        var imgList = res.data.pic;
                        var imgHtml = '';
                        for(var i=0;i<imgList.length;i++){
                            imgHtml += '<div class="swiper-slide">' +
                                       '<img src="'+ imgList[i].img +'" alt="">' + 
                                       '</div>'
                        };
                        swiperWrapper.html(imgHtml);
                        // 开始轮播
                        var swiper = new Swiper('.role-swiper', {
                            pagination: '.swiper-pagination',
                            prevButton:'.prev',
                            nextButton:'.next',
                            effect: 'coverflow',
                            paginationClickable: true,
                            initialSlide: 4,
                            grabCursor: true,
                            centeredSlides: true,
                            slidesPerView: 'auto',
                            loop:true,
                            coverflow: {
                                rotate:65,
                                stretch: 0,
                                depth: 600,
                                modifier: 1,
                                slideShadows : true
                            }
                        });

                        if(is_weixin()){
                            $("#btn_down").click(function(){
                                alert('请点击右上方的...选择浏览器打开， 即可下载游戏，享受征服之旅！')
                            })
                        }else{
                            // 下载按钮的控制
                            if(isIos()){
                                // 是ios的设备
                                $("#btn_down").attr("href",res.data.download['ios']); 
                                // IOS 微信弹窗提示  
                                //       $("#btn_down_game").click(function(){
                                //           pop.hide(".pop_weixin_tips_down")
                                //       });
                            }else{
                                $("#btn_down").attr("href",res.data.download['and']); 
                            }
                        }
                    }else {
                        alert(res.msg) 
                    }
                },
                error:function (err) {
                    alert(err);
                }
            }); 

            // 进行yuyue
            var regPhone = /^1[3456789]{1}\d{9}$/;
            var wait=60;  
            function time(o) {  
                if (wait == 0) {  
                    o.removeAttribute("disabled");            
                    o.value="获取验证码";  
                    wait = 60;  
                } else {  
                    o.setAttribute("disabled", true);  
                    o.value="重新发送(" + wait + ")";  
                    wait--;  
                    setTimeout(function() {  
                        time(o)  
                    },  
                    1000)  
                }  
            }  

            $("#iosGetCode").click(function(){
                // 进行手机号的验证
                var phoneNum = $('#iosPhone').val();
                var flag =  regPhone.test(phoneNum);
                if(flag){
                    // 进行提交获取验证码
                    time(this);
                    $.ajax({ 
                        url:"//go.youzu.com/go-39/api/send-sms",
                        type:'GET',
                        dataType: "jsonp",
                        data: {
                            tel:phoneNum,
                            platform_type:1
                        },
                        success: function(res) {
                            //console.log("返回获手机验证码数据：", resmsg);
                            if(res.status == 0 || res.status == 200 ){ 
                                // console.log(res);
                            }else {
                                $('#iosPhone').val('');
                                $('#andPhone').val('');
                                $('#andCode').val('');
                                $('#andCode').val('');
                                wait = 0;
                                clearTimeout(time);
                                wait2 = 0;
                                clearTimeout(time2)
                                alert(res.msg);
                            }
                        },
                        error:function (err) {
                            alert(err);
                        }
                    }); 
                }else{
                    alert('请输入正确的手机号码哦~')
                }
            })

            var wait2=60;  
            function time2(o) {  
                if (wait2 == 0) {  
                    o.removeAttribute("disabled");            
                    o.value="获取验证码";  
                    wait2 = 60;  
                } else {  
                    o.setAttribute("disabled", true);  
                    o.value="重新发送(" + wait2 + ")";  
                    wait2--;  
                    setTimeout(function() {  
                        time2(o)  
                    },  
                    1000)  
                }  
            }  
            
            $("#andGetCode").click(function(){
                // 进行手机号的验证
                var phoneNum = $('#andPhone').val();
                var flag =  regPhone.test(phoneNum);
                if(flag){
                    // 进行提交获取验证码
                    time2(this);
                    $.ajax({ 
                        url:"//go.youzu.com/go-39/api/send-sms",
                        type:'GET',
                        dataType: "jsonp",
                        data: {
                            tel:phoneNum,
                            platform_type:1
                        },
                        success: function(res) {
                            //console.log("返回获手机验证码数据：", resmsg);
                            if(res.status == 0 || res.status == 200 ){ 
                                // console.log(res);
                            }else {
                                $('#iosPhone').val('');
                                $('#andPhone').val('');
                                $('#andCode').val('');
                                $('#andCode').val('');
                                wait = 0;
                                clearTimeout(time);
                                wait2 = 0;
                                clearTimeout(time2)
                                alert(res.msg); 
                            }
                        },
                        error:function (err) {
                            alert(err);
                        }
                    }); 
                }else{
                    alert('请输入正确的手机号码哦~')
                }
            })

            // 提交预约的方法
            function subMit(type){
                var phoneNum = type == 0 ? $('#andPhone').val() : $('#iosPhone').val();
                var flag =  regPhone.test(phoneNum);
                var code = type == 0 ? $('#andCode').val() : $('#iosCode').val();
                if(flag){
                    if(code){
                        // 提交
                        $.ajax({ 
                            url:"//go.youzu.com/go-39/api/yuyue",
                            type:'GET',
                            dataType: "jsonp", 
                            data: {
                                tel:phoneNum,
                                type:type,// ios
                                code:code,
                                platform_type:1
                            },
                            success: function(res) {
                                //console.log("返回获手机验证码数据：", resmsg);
                                if(res.status == 0 || res.status == 200 ){ 
                                    window.location.reload();
                                    alert('恭喜亲，预约成功~');
                                }else {
                                    alert(res.msg) 
                                }
                            },
                            error:function (err) {
                                alert(err);
                            }
                        });
                    }else{
                        alert('请输入正确的正确的验证码哦~')
                    }
                }else{
                    alert('请输入正确的手机号码哦~')
                }
            }
            // ios的提交预约
            $("#submitIos").click(function(){
                subMit(1)
            })
            // 安卓的提交预约
            $("#submitAnd").click(function(){
                subMit(0)
            });
        </script>

        <!-- 页面的动画效果的交互 -->
        <script>
            /*第二屏左右轮播*/
            // 选项卡 鼠标点击
            $(".TAB_CLICK li").click(function(){
                var tab=$(this).parent(".TAB_CLICK");
                var con=tab.attr("id");
                var on=tab.find("li").index(this);
                $(this).addClass('on').siblings(tab.find("li")).removeClass('on');
                $(con).eq(on).show().siblings(con).hide();
            });
            
            $('.TAB_CLICK').each(function(index, el) {
                $(this).find("li").filter(':first').trigger('click');
            });

            $('.play-quan').click(function(event) {
                $('.m-overlay').fadeIn();
                $('.pop-video').fadeIn();
                $(".pop-video video")[0].play(); 
            });
            // 弹窗关闭按钮
            $('.js_pop_close').click(function(event) {
                $(this).parent().fadeOut();
                $('.m-overlay').fadeOut();
                // 视频
                $(".pop-video video")[0].pause();
                $(".pop-video .icon").fadeIn();
                // 输入框
                $('#iosPhone').val('');
                $('#andPhone').val('');
                $('#andCode').val('');
                $('#andCode').val('');
                wait = 0;
                clearTimeout(time);
                wait2 = 0;
                clearTimeout(time2)
            });

            $('.yuyue_btn').click(function(event) {
                $('.m-overlay').fadeIn();
                $('.pop-order').fadeIn();
            });

        </script>
    </body>
</html>