<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="zh-CN" />
  <title>圣杯之魂游戏热门资讯_游族圣杯之魂手游官网</title>
  <meta name="keywords" content="圣杯之魂新闻,圣杯之魂,圣杯之魂手游,圣杯之魂官网,圣杯之魂活动,圣杯之魂礼包" />
  <meta name="description" content="《圣杯之魂》是由游族网络代理发行的3D战斗卡牌手游，游戏以次时代精致画面、独特玩法、热血战斗、强大的组合技和丰富的世界观与你见面！圣杯之魂官网为您提供最新游戏新闻资讯，让您全方位了解圣杯之魂手游。" />
  <link href="//shengbei.youzu.com/shengbei/guanwang_pc/css/liebook.css?v=20181102" rel="stylesheet" type="text/css">

  <link rel="canonical" href="//shengbei.youzu.com/hot.html" />
  <link rel="alternate" media="only screen and (max-width: 640px)" href="//shengbei.youzu.com/m/hot.html" />
</head>

<body data_game_type="mob" data_game_id="350">
  <div class="container">
  <!-- 顶通 -->
  <%- include("./head.html") %>

    <!--内页头部区 开始-->
    <div class="NeiHeaderBar">

      <!--头部导航-->
      <div class="Nav_1ji_bar">
        <div class="Nav_1ji_Group">
          <h1 class="logoTu"><a href="http://shengbei.youzu.com/" title="圣杯之魂" class="logo_pic"><img src="<%= newsData.data.logo[0].thumb[0] %>"
                alt=""></a></h1>
          <p class="icon_ji icon_line_post"></p>
          <ul class="navs1ji">
              <li class="nji_1"> <a href="/" class="">首页</a> </li>
              <li class="nji_2"> <a href="hot.html" class="" target="_blank">新闻</a> </li>
              <li class="nji_3"> <a href="adv1.html" class="" target="_blank">新手</a> </li>
              <li class="nji_4"> <a href="yingxiang.html" class="" target="_blank">品牌</a> </li>
              <li class="nji_5"> <a href="hero.html" class="" target="_blank">资料</a> </li>
          </ul>
        </div>
      </div>
      <div class="Nav_2ji_bar">
        <div class="Nav_2ji_Group">
          <ul class="navs2ji">
            <li class="nbi_1"></li>
            <li class="nbi_2">
              <p><a href="news.html" target="_blank"><i></i>新闻<i></i></a></p>
              <p><a href="active.html" target="_blank"><i></i>活动<i></i></a></p>
              <p><a href="notice.html" target="_blank"><i></i>公告<i></i></a></p>
              <p><a href="media.html" target="_blank"><i></i>媒体<i></i></a></p>
            </li>
            <li class="nbi_3">
              <p><a href="adv1.html" target="_blank"><i></i>新手推荐<i></i></a></p>
              <p><a href="adv2.html" target="_blank"><i></i>高手进阶<i></i></a></p>
            </li>
            <li class="nbi_4">
              <p><a href="yingxiang.html" target="_blank"><i></i>圣杯碎片<i></i></a></p>
            </li>
            <li class="nbi_5">
              <p><a href="hero.html" target="_blank"><i></i>圣杯图鉴<i></i></a></p>
            </li>
          </ul>
        </div>
      </div>
      <!--头部导航 end-->

      <!--头部内容  -->
      <div class="NeiHeaderGroup">
        <p class="biaoti_breadcrums">当前位置：<a href="index.html">圣杯官网</a> ＞ <a href="#">新闻</a>＞ <a href="#"><%= newsData.data.name %></a></p>
        <p class="biaoti_zi"><img src="//shengbei.youzu.com/shengbei/guanwang_pc/images/chuanwen.png?v=20181102" alt=""></p>
      </div>
      <!--头部内容 end-->

    </div>
    <!--内页头部区 结束-->

    <!--内容框架Start-->
    <div class="InNeirongWrap">
      <div class="InNeirongGroup">

        <!--两列框总局-->
        <div class="LiangGroup">
          <!-- left 侧 -->
          <div class="LiaGroup_a">

            <!--新闻页-->
            <div class="bigNewsGroup">
              <!--标题签-->
              <div class="NewsNavBox  ">
                <ul class="NewsTitleZu  clearfix">
                  <li class="on"><a title="最新" href="hot.html" class="mu_zt">最新</a></li>
                  <li><a title="新闻" href="news.html" class="mu_xw">新闻</a> </li>
                  <li><a title="活动" href="active.html" class="mu_hd">活动</a> </li>
                  <li><a title="公告" href="notice.html" class="mu_gg">公告</a> </li>
                  <li><a title="媒体" rel="nofollow" href="media.html" class="mu_mt">媒体</a> </li>
                </ul>
              </div>
              <!--标题签 end -->

              <!-- 新闻类表 -->
              <div class="news_list">
                <ul>
                  <% for(var i=0; i<newsData.data.newslist.newsList.length; i++) { %>
                  <li><em class="date">
                      <%= newsData.data.newslist.newsList[i].pub_time %></em><a href="<%= newsData.data.newslist.newsList[i].url %>" target="_blank"><span>[<%= newsData.data.newslist.newsList[i].tags %>] </span>
                      <%= newsData.data.newslist.newsList[i].name %></a></li>
                  <% } %>
                </ul>
              </div>
              <!-- /新闻类表 -->
              <!-- 翻页开始 -->
              <div class="pagenumQu">
                <ul class="yiiPager">
                    <% for (var i=1; i <= newsData.data.totalPage; i++) { %>
                      <% if(newsData.data.totalPage > 1 ) { %>
                      <% if (newsData.data.page > 1) {%>
                      <li class="first" data-pre="1"><a href="javascript:;">第一页</a></li>
                      <li class="previous" data-pre="<%= i-1 %>"><a href="javascript:;">上一页</a></li>
                      <%} else {%>
                      <!-- <li class="first" data-pre="1"><a href="javascript:;">第一页</a></li> -->
                      <li class="previous" data-pre="1"><a href="javascript:;">上一页</a></li>
                      <% } %>
  
                      <% if (newsData.data.page == i){ %>
                      <li class="page selected" data-page="<%= i %>"><a href="javascript:;"><%= i %></a></li>
                      <%} else { %>
                      <li class="page" data-page="<%= i %>"><a href="javascript:;"><a><%= i %></a></li>
                      <%}%>
  
                      <% if (newsData.data.page > 1) {%>
                      <li class="next" data-next="<%= i+1 %>"><a href="javascript:;">下一页</a></li>                  
                      <li class="last" data-next="<%= newsData.data.totalPage %>"><a href="javascript:;">最后一页</a></li>
                      <% } else { %>
                      <li class="next" data-next="1"><a href="javascript:;">下一页</a></li>
                      <!-- <li class="last" data-next="1"><a href="javascript:;">最后一页</a></li> -->
                      <% } %>
                      <% } %>
                    <% } %>
                </ul>
              </div>
              <!-- /翻页结束 -->
            </div>
            <!--新闻页 end-->

          </div>
          <!-- left 侧 end -->

          <!-- right 侧 -->
          <div class="LiaGroup_b">
            <p class="bqu_ge"><em class="icon_ji icon_rt_shang"></em> </p>

            <!--右栏下载游戏-->
            <div class="RtdownBox">
              <p class="RtBiaoti">游戏下载</p>
              <div class="rmei_01">
                <p class="sdgame_pic"><img src="<%= newsData.data.code.img %>" alt=""></p>
                <p class="sdgame_txt">扫一扫下载游戏</p>
              </div>
              <div class="rmei_02">
                <p> <a rel="nofollow" href="<%= newsData.data.downIos[0].url %>" class="icon_ji btn_rt_down_store" data_type="download_ios">app
                    store</a> </p>
                <p> <a rel="nofollow" href="<%= newsData.data.downAnd[0].url %>" class="icon_ji btn_rt_down_android" data_type="download_and">android</a>
                </p>
                <p> <a rel="nofollow" href="<%= newsData.data.downTap[0].url %>" class="icon_ji btn_rt_down_taptap" data_type="download_tap">taptap</a> </p>
              </div>
            </div>
            <!-- 右栏下载游戏 end-->

            <!-- 右栏 热门新闻-->
            <div class="RtHotNewsBox">
              <p class="RtBiaoti">热门新闻</p>
              <div class="RtHotNewsZu">
                <% for(var i=0; i<newsData.data.newslist.newsList.length; i++) { %>
                <p class="hozuwz"> <a href="<%= newsData.data.newslist.newsList[i].url %>" title="" class="zw">
                    <%= newsData.data.newslist.newsList[i].name %></a> </p>
                <% } %>
              </div>
            </div>
            <!-- 右栏 热门新闻 end-->

            <!-- 右栏 官方媒体-->
            <div class="RtMeitiBox">
              <p class="RtBiaoti">官方媒体</p>
              <div class="RouErmaBox">
                <p class="rouer_pic"><span class="rouer_pi_bg"> </span> <img src="<%= newsData.data.address[0].content %>"
                    alt="" /></p>
                <p class="rouer_txt"> 微信二维码</p>
                <p class="rou_shane_zu"> <a href="<%= newsData.data.address[1].content %>" class="sen_01"><em class="icon_ji icon_sha_weibo"></em><i>微博</i>
                  </a> <a href="<%= newsData.data.address[2].content %>" class="sen_02"><em class="icon_ji icon_sha_tieba"></em><i>贴吧</i>
                  </a> <a href="<%= newsData.data.address[3].content %>" class="sen_03"><em class="icon_ji icon_sha_bbs"></em><i>论坛</i>
                  </a> </p>
              </div>
            </div>
            <!-- 右栏 官方媒体 end-->

          </div>
          <!-- right 侧 end -->
          <div class="clear"></div>
        </div>
        <!--两列框总局 end-->

      </div>
    </div>
    <!--内容框架End-->

    <!--尾部框架-->
    <div class="FootWrap_bg">

        <div class="FootWrap"></div>
      </div>
    <!--  新版尾部内容 end -->
  </div>
  </div>
  </div>
  <!--尾部框架End-->

  <script src="//pic.youzu.com/common/jquery-1.8.3.min.js"></script>
  <script src="//shengbei.youzu.com/shengbei/guanwang_pc/js/focus.js?v=20181102"></script>
  <script src="//pic.youzu.com/common/auth/youzuWeixin.js"></script>
  <script src="//shengbei.youzu.com/shengbei/guanwang_pc/js/common.js?v=20181102"></script>
  <script src="//shengbei.youzu.com/shengbei/guanwang_pc/js/seclet.js?v=20181102"></script>
  <script>
      var pre, next, first, last;
        //第一页
      $(".first").click(function(){
          first = $(this).data("first");
          getNews(first);
        });
        // 最后一页
        $(".last").click(function(){
          last = $(this).data("last");
          getNews(last);
        });
        // 指定跳转到哪一页-获取新闻列表
        $(".page").click(function(){
          page = $(this).data("page");
          getNews(page);
        })
        // 上一页
        $(".previous").click(function(){
          pre = $(this).data("pre");
          getNews(pre);
        });
        // 下一页
        $(".next").click(function(){
          next = $(this).data("next");
          getNews(next);
        });
  
      // 获取新闻列表
      function getNews(page) {
        $.ajax({
        url: "http://webapi.youzu.com/shengbei/newNews",
        type: 'GET',
        dataType: "jsonp",
        data: {
          page:page
        },
        success: function (res) {
          $(".news_list ul").html("");
          $.each(res.data, function (index, info) {
            if(index == "newslist"){
              // console.log(11111,index, info);
              if( info != ""){
                for(var i=0 ;i<info.length; i++){
                  Html = '<li><em class="date">' + info[i].pub_time + '</em>';
                  Html += '<a href="'+ info[i].url +'">';
                  Html += '<span>['+ info[i].tags +']</span>' + info[i].name + '</a></li>';
                
                  $(".news_list ul").append(Html);
                }
              }
            }
          })
        }
      })
    }
  </script>
</body>

</html>